body {
  padding: 60px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247, 247, 247);
}

a {
  color: #00B7FF;
}

.navbar-inverse {
  background-color: #FFF;
  border-color: #D5D5D5;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}

/*** PINS ***/

.search-pins-ctn {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 15px;

  input,
  textarea {
    width: 100%;
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
    border-radius: 5px;
    padding: 10px;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
  }
}

.pins {
  list-style: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 0;
}

.pins li,
.pin {
  width: 100%;
  border-radius: 3px;
  height: auto;
  height: 100%;
  min-height: 70px;
  margin: 10px 0;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  background-color: #ffffff !important;
  border: 1px solid #e4e4e4;
  border: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  .controls {
    width: 100%;
    text-align: right;
    background: rgba(0,0,0,0.02);
    padding: 3px 15px 0px 15px;
    height: 25px;
    border-top: 1px solid rgb(230, 230, 230);

    a {
      font-size: 16px;
      margin: 0 10px;
      color: #C0C0C0;
      background: none;
      border: none;
      padding: 0;
      width: auto;

      &.link {
        float: left;  
      }

      &.edit,
      &.remove {
        float: right;  
      }

      &:hover {
        color: #1C85E6;
      }
    }
  }

  >a {
    color: inherit;
    text-decoration: none;
    display: inline;
    width: 100%;
  }

  .text {
    width: 100%;
    padding: 10px;
    border: 0;

    &:focus {
      outline: none !important;
      resize: none !important;
    }
  }

}

.pin {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 2px dashed rgb(235, 235, 235);
  box-shadow: none;

  input.pretty,
  .bootstrap-tagsinput,
  textarea {
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid rgb(233, 233, 233);
  }

  .bootstrap-tagsinput {
    padding: 6px 8px;
    margin-bottom: 0;
  }

  .input-group-addon:first-child {
    border-color: rgb(233, 233, 233); 
  }

  textarea {
    height: 50px;
  }
}

.acn-btn {
  color: black;
  font-size: 24px;
  cursor: pointer;
  width: auto;
  float: right;
  padding: 0 10px;

  &.success {
    color: rgb(26, 182, 26);
  }

  &.danger {
    color: rgb(250, 89, 89);
  }
}

/*** CHRONOS ***/

.chronos, .calendar {
  list-style: none;
  width: 100%;
  max-width: 360px;
  margin: 0 auto 20px auto;
  padding: 0; 
}

.chronos li,
.chrono {
  width: 100%;
  border-radius: 3px;
  height: auto;
  height: 100%;
  margin: 10px 0;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  background-color: #ffffff !important;
  border: 1px solid #e4e4e4;
  border: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.chrono {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 2px dashed rgb(235, 235, 235);
  box-shadow: none;

  input.pretty {
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid rgb(233, 233, 233);
  }

}

.chronos li {

  .chrono-content {
    position: relative;
    
    .toggle-chrono {
      color: #000;
    }

    .chrono-title {
      width: 100%;
      font-size: 20px;
      display: inline-block;
      padding: 5px;
      background-color: rgb(248, 248, 248);
      background: rgba(0,0,0,0.02);
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      cursor: pointer;
    }

    .chrono-time {
      width: 90%;
      height: 120px;
    }

    .chrono-controls {
      position: absolute;
      top: 40px;
      right: 5px;
      width: 25px;
      margin-right: 5px;

      a {
        font-size: 25px;
        float: left;
        width: 25px;
        margin: 5px;
        cursor: pointer;
      }

      .start {
        color: rgb(26, 182, 26);
      }

      .stop {
        color: rgb(250, 89, 89);
      }

      .reset {
        color: orange;
      }

      .logit {

      }

      .edit {

      }

      .remove {
        color: rgb(250, 89, 89);
      }
    }
  }
}
