<div class="chrono-title">{{title}}</div>
<div class="chrono-time" data-timer="0"></div>
<div class="chrono-controls">
  <a class="start"><i class="fa fa-play"></i></a>
  <a class="stop"><i class="fa fa-stop"></i></a>
  <a class="reset"><i class="fa fa-undo"></i></a>
</div>