<div class="row">
  <div class="col-md-12 new-chrono"></div>
</div>
<div class="row">
  <div id="chronos" class="col-md-12"></div>
</div>
<div class="row">
  <div id="chrono-logs" class="col-md-12"></div>
</div>