<div class="row">
  <div class="col-md-12 new-pin"></div>
</div>
<div class="row search-pins-ctn">
  <div class="row">
    <div class="col-xs-12 search-pins"></div>
  </div>
</div>
<div class="row">
  <div id="pins" class="col-md-12"></div>
</div>
