
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 5px;">
    <textarea id="txt-text" class="form-control" placeholder="type something to save">{{text}}</textarea>
  </div>
</div>

<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-tags"></i>  
      </span>

      <input id="txt-tags" type="text" class="form-control" data-role="tagsinput" 
        placeholder="type a tag and press enter" value="{{tags}}">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-9 col-sm-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-link"></i>  
      </span>
      <input id="txt-link" type="text" class="form-control pretty" 
      placeholder="paste some link" value="{{link}}">
    </div>
  </div>

  {{#if isNew}}
  <div class="col-md-3 col-sm-12">
    <a class="acn-btn btn success save-pin">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  {{else}}
  <div class="col-md-3 col-sm-12">
    <a class="acn-btn btn success save-pin">
      <i class="fa fa-check"></i>
    </a>
    <a class="acn-btn btn danger cancel-pin">
      <i class="fa fa-times"></i>
    </a>
  </div>
  {{/if}}
</div>
