<p id="txtText" class="text">{{text}}</p>
<textarea id="copy-ctn" class="text hide">{{text}}</textarea>
<div class="controls">
  {{#if link}}
  <a class="acn-btn link" href="{{link}}" target="_blank">
    link
  </a>
  {{/if}}
  <a class="acn-btn remove">
    remove
  </a>
  <a class="acn-btn edit">
    edit
  </a>
</div>