<p id="txtText" class="text">{{text}}</p>
<textarea id="copy-ctn" class="text hide">{{text}}</textarea>
<div class="controls hide">
  <a class="acn-btn copy">
    <i class="fa fa-clipboard"></i>
  </a>
  {{#if link}}
  <a class="acn-btn" href="{{link}}" target="_blank">
    <i class="fa fa-external-link"></i>
  </a>
  {{/if}}
  <a class="acn-btn edit">
    <i class="fa fa-edit"></i>
  </a>
  <a class="acn-btn remove">
    <i class="fa fa-times"></i>
  </a>
</div>