
<div class="row">
  <div class="col-xs-12 separator-line">  
    <textarea id="txt-text" class="form-control" placeholder="type something to save">{{text}}</textarea>
  </div>
</div>

<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-tags"></i>  
      </span>

      <input id="txt-tags" type="text" class="form-control" data-role="tagsinput" 
        placeholder="type a tag and press enter" value="{{tags}}">
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-10">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-link"></i>  
      </span>
      <input id="txt-link" type="text" class="form-control pretty" 
      placeholder="paste some link" value="{{link}}">
    </div>
  </div>

  <div class="col-xs-2">
    <a class="acn-btn save-pin">
      <i class="fa fa-save"></i>
    </a>
  </div>
</div>
